.button__container {
  display: flex;
  gap: 11px;
  align-items: center;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .button__container {
    position: absolute;
    top: 543px;
    left: 103px;
  }
}

.button__container-small {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 28px 60px 0;
  position: absolute;
  top: 426px
}
