.button__container {
  display: flex;
  gap: 14px;
  align-items: center;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .button__container {
    position: absolute;
    top: 558px;
    left: 103px;
  }
}

.button__container-small {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 28px 103px 0;
  position: absolute;
  top: 426px
}
