.header {
  height: 720px;
  padding-top: 20px;
  position: relative;
}

@media  (min-width: 768px) and (max-width: 1919px) {
  .header {
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 680px;
    margin: 0 auto;
    width: 1366px;
  }
}

@media  (min-width: 375px) and (max-width: 767px) {
  .header {
    background-image: url(../../images/background-mini.png);
    background-repeat: no-repeat;
    height: 754px;
    width: 375px;
    padding-top: 20px;
    margin: 0 auto;
  }
}

.header__chess {
  position: absolute;
  top: 600px;
  right: 330px;
  animation: jump 0.5s infinite alternate;
}

@media  (min-width: 768px) and (max-width: 1919px) {
  .header__chess {
    top: 560px;
    right: 50px;
  }
}

@media  (min-width: 375px) and (max-width: 768px) {
  .header__chess {
    display: none;
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.image1 {
  z-index: -3;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  height: 780px;
}

.image2 {
  z-index: -1;
  position: absolute;
  top: 280px;
  left: 158px;
}

.image3 {
  z-index: -2;
  position: absolute;
  top: 290px;
  left: 158px;
}

.image4 {
  z-index: -3;
  position: absolute;
  top: 0px;
  left: 951px;
  opacity: 0.85;
}

.image5 {
  z-index: -3;
  position: absolute;
  top: 0px;
  left: 893px;
  mix-blend-mode: overlay;
}

.image6 {
  z-index: -3;
  position: absolute;
  top: 290px;
  left: 1000px;
  animation: jump 0.5s infinite alternate;
}

.image7 {
  z-index: -3;
  position: absolute;
  top: 170px;
  left: 1350px;
  animation: jump 0.5s infinite alternate;
}

.image8 {
  z-index: -2;
  position: absolute;
  top: 503px;
  left: 1108px;
  animation: rotate 0.8s linear infinite alternate;
  transform-origin: bottom;
}

.container {
  position: relative;
}

@media  (min-width: 375px) and (max-width: 1919px) {
  .container {
    display: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(40deg);
  }
}
