.header {
  height: 700px;
  padding-top: 20px;
  position: relative;
}

@media  (min-width: 768px) and (max-width: 1919px) {
  .header {
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 680px;
    margin: 0 auto;
    width: 1366px;
  }
}

@media  (min-width: 375px) and (max-width: 767px) {
  .header {
    background-image: url(../../images/background-mini.png);
    background-repeat: no-repeat;
    height: 754px;
    width: 375px;
    padding-top: 20px;
    margin: 0 auto;
  }
}
