.footer__title {
  font-family: "Golos Text";
  padding: 40px 72px;
  opacity: 0.6;
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  width: 1222px;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .footer__title  {
    width: 335px;
    padding: 40px 20px 60px;
  }
}
