.info__subtitle {
  color: #3057A2;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 48px 0 0;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .info__subtitle {
    font-size: 18px;
    line-height: 21.6px;
    width: 335px;
    margin: 24px 0 0;
  }
}
