@font-face {
  src:
    url(./golos-text_regular.woff2) format('woff2'),
    url(./golos-text_regular.woff) format('woff');
  font-family: 'Golos Text';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src:
    url(./golos-text_medium.woff2) format('woff2'),
    url(./golos-text_medium.woff) format('woff');
  font-family: 'Golos Text';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src:
    url(./golos-text_demibold.woff2) format('woff2'),
    url(./golos-text_demibold.woff) format('woff');
  font-family: 'Golos Text';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src:
    url(./Merriweather-Regular.ttf) format('ttf');
  font-family: 'Merriweather Text';
  font-weight: 400;
  font-style: normal;
}
