.header__button {
  all: initial;
  border-radius: 66px;
  background: #1F1F1F;
  color: #FFFFFF;
  width: 140px;
  text-align: center;
  cursor: pointer;
  padding: 10px 50px;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.8px;
}

.header__button:hover {
  background: #FBCE51;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__button {
    width: 335px;
    height: 47px;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}
