.info__table-cell-bold {
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  width: 382px;
  padding: 16px 0 16px 16px;
  margin: 0;
  border: 1px solid #D0D0D0;
  border-right: none;
}

.struck-through {
  text-decoration: line-through #F54932;;
}

.info__table-cell-bold-first {
  border-top: none;
  padding-top: 0;
}

.info__table-cell-bold-last {
  border-bottom: none;
  padding-bottom: 0;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .info__table-cell-bold {
    display: inline-block;
    border: none;
    width: 335px;
    padding: 0 0 16px;
    border-bottom: 1px solid #D0D0D0;
  }
}

@media  (min-width: 375px) and (max-width: 767px) {
  .info__table-cell-three {
    width: 150px;
    padding: 16px 0 12px;
  }
}
