.stages__container-small {
  position: relative;
  display: none;
  width: 2000px;
  gap: 20px;
}

.container {
  transition: transform 0.5s ease;
  display: flex;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .stages__container-small {
    display: flex;
  }
}
