.intro__title {
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48.6px;
  text-transform: uppercase;
  width: 764px;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .intro__title {
    font-size: 28px;
    width: 335px;
    line-height: 37.8px;
    margin: 0;
  }
}
